appdirs==1.4.3
beautifulsoup4==4.8.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
decorator==4.4.1
future==0.18.2
-e git+git@github.com:erochest/gmusic-archive.git@7f56f6914ebd6d672771d91e853162087f255da1#egg=gmusic_archive
gmusicapi==12.1.1
gpsoauth==0.4.1
httplib2==0.14.0
idna==2.8
lxml==4.4.1
MechanicalSoup==0.12.0
mock==3.0.5
mutagen==1.42.0
oauth2client==4.1.3
pbr==5.4.3
proboscis==1.2.6.0
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycryptodomex==3.9.1
python-dateutil==2.8.1
requests==2.22.0
rsa==4.0
six==1.13.0
soupsieve==1.9.5
SQLAlchemy==1.3.10
urllib3==1.25.6
validictory==1.1.2
